# Generated outputs
paper/generated/*
paper/generated_md/*
paper/build/*

!paper/generated/.gitkeep
!paper/generated/README.md

!paper/generated_md/.gitkeep
!paper/generated_md/README.md

!paper/build/.gitkeep
!paper/build/README.md


# LaTeX build artifacts
**/*.aux
**/*.log
**/*.bbl
**/*.bcf
**/*.blg
**/*.run.xml
**/*.toc
**/*.out
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
**/*.lof
**/*.lot

# Python cache
__pycache__/
*.py[cod]
